# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
ENV/
.venv

# SQLite Database & Uploads
*.db
*.sqlite3
instance/
static/uploads/*
!static/uploads/.gitkeep

# Environment variables & secrets
.env
.env.*

# IDE files
.vscode/
.idea/
*.swp
